name: Python package
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install packages
      run: pip install -r requirements.txt
    - name: Run tests
      run: python manage.py test
#    - name: Run git bisect to find bug
#      run: |
#        git bisect start
#        git bisect bad HEAD
#        git bisect good <GOOD_COMMIT_HASH>
#        git bisect run python manage.py test
#        git bisect reset
#    - name: Run bisect script
#      run: python myscript.py